.home-page{
    background-color: #2F4F4F;
    color: white;
    min-height: 100vh;
    margin-top: -20px;

}

.home-h2{
    padding-top: 10%;
}

.tableAnimals {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

 .table-div{
     width: 70%;
     margin-top: 30px;
     margin-left: 10px;
 }

 .editLink{
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px;
 }

 .editLink:hover{
  background-color: green;
  color: white;
 }

 .deleteLink{
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px;

 }

 .deleteLink:hover{
   background-color: green;
   color: white;
 }

 .pagination li{
   display: inline-block;
   padding: 10px;
   border: solid black 1px;
   cursor: pointer;
 }

 .pagination :hover{
   background-color: black;
   color: white;
 }

 .addBookLink{
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  width: 60%;
  margin-left: 140%;

 }

 .addBookLink:hover{
   background-color: green;
   color: white;
 }